@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: ModernoFBComp;
    src: url(../font/modernofbcomp-semibold.otf);
}

* {
    margin: 0%;
    padding: 0%;
    list-style: none !important;
    text-decoration: none !important;
}

.header-1 {
    background: #000000;
}

.h-text {
    color: #FFFFFF;
    font-family: "Noto Serif", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
}

.header-1 marquee div {
    min-height: 52px;
}

.border-red {
    border: 1px solid #FF0000;
    border-radius: 5px;
    padding: 3px;
    margin-left: 8px;
    color: #FF0000;
}

.border-y {
    border: 1px solid #FFD600;
    border-radius: 5px;
    padding: 3px;
    margin-left: 8px;
    color: #FFD600;
}

section {
    background-image: url(../image/section-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.btn1 {
    font-family: "Noto Serif", serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    color: #000000;
    background: #FFD600;
    border: 2px solid #000000;
    width: 165px;
    height: 43px;
    transition: all 0.3s ease-in-out;
}

.btn1:hover,
.btn-mint:hover {
    background-color: #000000;
    color: #FFD600;
    filter: drop-shadow(0 0 15px #FFD600);
}

.icon1 {
    transition: all 0.3s ease-in-out;
}

.icon1:hover {
    filter: drop-shadow(0 0 15px #FFD600);
    scale: 1.08;
}

.outline-black {
    outline: 2px solid #000000;
}

.list-text {
    font-family: "Noto Serif", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    color: #000000;
    white-space: nowrap;
    text-transform: uppercase;
}

.w-fit {
    width: fit-content;
}

.p-10 {
    padding: 10px;
}

.h-3 {
    font-family: "ModernoFBComp", sans-serif;
    font-size: var(--fs-2xl);
    line-height: normal;
    font-weight: 400;
    text-shadow: 2px 2px 3px #000000;
    background-color: #565656;
    color: transparent;
    background-clip: text;
}

.news {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-xl);
    font-weight: 400;
    line-height: normal;
    text-shadow: 2px 2px 3px #000000;
    background-color: #565656;
    color: transparent;
    background-clip: text;
}

.text-1 {
    font-family: "Noto Serif", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #000000;
}

.menulist {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0%;
    right: -100%;
    background-image: url(../image/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 8;
    transition: all 0.3s ease-in-out;

    ul {
        flex-direction: column;
        gap: 40px;
    }

}

.showlist {
    right: 0%;
    transition: all 0.3s ease-in-out;
}

.fixed1 {
    position: fixed;
    left: auto;
    right: 10%;
}

::-webkit-scrollbar {
    display: none;
}

#hamburger-icon {
    width: 50px;
    height: 35px;
    display: block;
    z-index: 10;
}

#hamburger-icon .line {
    width: 50px;
    background: #000000;
    margin: 6px 0 0 0;
    height: 5px;
    display: block;
    transition: all 800ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.line-1 {
    margin-top: 0;
}

#hamburger-icon:hover .line-1 {
    width: 30px;
}

#hamburger-icon:hover .line-2 {
    width: 40px;
}

#hamburger-icon:hover .line-3 {
    width: 20px;
}

:root {
    /* font-size */
    --fs-sm: 18px;
    --fs-md: 24px;
    --fs-lg: 36px;
    --fs-xl: 32px;
    --fs-2xl: 57px;
}


.text-e {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: 39.85px;
    color: #000000;
}

.over-slider {
    z-index: 2;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    display: flex !important;
}

.slick-slide>div {
    display: flex;
}

.box1 {
    width: 238px;
    height: 53px;
}

.btn-add,
.btn-sub {
    border: none;
    background-color: transparent;
    padding: 24px;
    display: flex;
    align-items: center;
}

.btn-add {
    border-left: 2px solid #000000;
}

.btn-sub {
    border-right: 2px solid #000000;
}

.border-left {
    border-left: 2px solid #000000;
}

.border-right {
    border-right: 2px solid #000000;
}

.btn-mint {
    width: 111px;
    background: #FFD600;
    border: 2px solid #000000;
    height: 43px;
    transition: all 300ms linear;
}

.color-red {
    color: #FF0000;
}

.color-green {
    color: #00A106;
}

.fs-24 {
    font-size: var(--fs-md);
}

.font-s-14 {
    font-size: 14px;
}

.font-s-16 {
    font-size: 16px;
}

.font-s-18 {
    font-size: var(--fs-sm);
}

.heading {
    font-family: "ModernoFBComp", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    color: #000000;
}

.prev,
.next,
.prev1,
.next1 {
    cursor: pointer;
    transition: all 0.3s linear;
}

.prev:hover,
.next:hover,
.prev1:hover,
.next1:hover {
    filter: drop-shadow(2px 2px 3px #000000);
}

.mt-24 {
    margin-top: 24px;
}

.top-border {
    border-top: 2px solid #000000;
}

.timeline::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 28px;
    width: 2px;
    height: 100%;
    background-color: #000000;
}

.timeline::before {
    content: url(../svg/down-arrow-svgrepo-com.svg);
    position: absolute;
    bottom: 0%;
    left: 16.5px;
    width: 2px;
    height: 16px;
}

.timeline-box {
    padding-left: 71px;
    margin-top: 24px;
    width: 100%;
    position: relative;
}

.py-99 {
    padding-top: 99px;
    padding-bottom: 99px;
}

.timeline-box::after {
    content: url(../svg/Group45.svg);
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}

.right-dot::after {
    content: url(../svg/Group45.svg);
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}




@media (min-width:992px) {
    .heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menulist {
        position: relative;
        width: 100%;
        height: fit-content;
        top: 0%;
        right: 0%;
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 8;
        transition: none;

        ul {
            flex-direction: row;
            gap: 0px;
        }

    }

    .outline-black1 {
        outline: 2px solid #000000;
    }

    #hamburger-icon {
        display: none;
    }

    :root {
        /* font-size */
        --fs-sm: 18px;
        --fs-md: 24px;
        --fs-lg: 36px;
        --fs-xl: 75px;
        --fs-2xl: 157px;
    }

    .timeline::after {
        left: 50%;
    }

    .timeline-box {
        width: 50%;
        padding-left: 50px;
    }

    .timeline-box::after {
        left: -29px;
    }

    .right-dot::after {
        right: -31px;
        left: auto;
    }

    .left-50 {
        left: 50%;
    }

    .pl-16 {
        padding-left: 16px;
    }

    .pr-46 {
        padding-right: 46px;
    }

    .top-150 {
        top: -150px;
    }

    .top-180 {
        top: -180px;
    }

    .top-360 {
        top: -360px;
    }

    .top-310 {
        top: -310px;
    }

    .top-210 {
        top: -210px;
    }

    .timeline::before {
        left: 48.8%;
    }
}

@media (min-width:1200px) {
    .timeline::before {
        left: 49.1%;
    }
}